<div class='welcome text-center'>
  <h1>How many have you climbed?</h1>
  <div class="bottom-links">
    <h3><%= link_to 'Sign in', '/auth/facebook' %> via Facebook to track your climbs</h3>
    <h3>Or check out the 14ers <%= link_to "here", peaks_path %></h3>
  </div>
</div>