<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2><%= @rangeName %></h2>
    <table class="table">
      <thead>
        <tr>
          <th>
            Peak
          </th>
          <th>
            Rank
          </th>
          <th>
            Elevation
          </th>
        </tr>
      </thead>
      <tbody>
        <% @peaks.each do |peak| %>
          <tr>
            <td>
              <%= link_to peak["attributes"]["peak_name"], peaks_show_path(peak["id"]) %>
            </td>
            <% if peak["attributes"]["rank"] == '0' %>
              <td>Unranked</td>
            <% else %>
              <td>
                <%= peak["attributes"]["rank"] %>
              </td>
            <% end %>
            <td>
              <%= peak["attributes"]["elevation"] + ' ft' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>